.buyButton3 {
    padding: 8px 25px;
    background-color: #FED29C;
    color: #000;
    text-align: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}

.buyButton3:hover{
    background-color: #af7835;
    color: #000;
}