/* .banner {
    background-color: #EAEAEA;
    width: 100%;
    height: 900px;
}

.circle {
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 500px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    z-index: 10;
} */


.banner {
    background-color: #EAEAEA;
    width: 100%;
    height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.circle {
    height: 762px;
    width: 762px;
    background-color: #bbb;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}