.banner {
    background-color: #EAEAEA;
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.circle {
    height: 500px;
    width: 500px;
    background-color: #FED29C;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.bannerImg {
    position: absolute;
    width: 550px;
    height: 560px;
    z-index: 1;
    bottom: 0;
}

.bannerInfo {
    position: absolute;
    z-index: 2;
    color: #333;
    left: 200px;
}

.bannerInfo h3 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 1rem;
}

.buyButton {
    width: 184px;
    height: 54px;
    background-color: #383838;
    color: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    border-radius: 5px;
}

.buyButton svg {
    height: 18px;
    width: 18px;
}

.buyButton span {
    font-size: 18px;
    font-weight: 700;
}

.buyButton:hover {
    background-color: #1f1d1d;
}