.LifeCycle-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 0px 150px;
    position: absolute;
    top: 554px;
    left: 0;
    z-index: 20;
}

.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FED29C;
    border: 1px solid #FED29C;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin-bottom: 35px;
}

.icon-container svg {
    font-size: 35px;
}

.LifeCycle-container h6 {
    color: #383838;
}

.LifeCycle-container p {
    color: #545454;
}

.hr,
.hr1,
.hr2 {
    position: absolute;
    border-top: 2px dashed #383838;
    width: 140px;
    position: absolute;
    transform: translateX(-50%);
    z-index: 10;
}

.dots-sml,
.dots-sml1,
.dots-sml2 {
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: #FED29C;
    border: 1px solid #FED29C;
    border-radius: 50%;
    position: absolute;
    transform: translateX(50%);
    z-index: 20;
}


/* Media query for small devices */
@media (max-width: 600px) {
    .LifeCycle-container {
        top: 370px;
        padding: 0px;
        display: flex;
        flex-direction: row;
    }

    .icon-container {
        width: 50px;
        height: 50px;
    }

    .icon-container svg {
        font-size: 20px;
    }

    .hr,
    .hr1,
    .hr2 {
        display: none;
    }

    .dots-sml,
    .dots-sml1,
    .dots-sml2 {
        display: none;
    }
}


@media (min-width: 601px) and (max-width: 768px) {
    .LifeCycle-container {
        flex-direction: row;
        justify-content: space-between;
        padding: 0px 80px;
    }

    .icon-container {
        width: 70px;
        height: 70px;
    }

    .icon-container svg {
        font-size: 40px;
    }

    .hr,
    .hr1,
    .hr2 {
        display: none;
    }

    .dots-sml,
    .dots-sml1,
    .dots-sml2 {
        display: none;
    }
}


@media (min-width: 769px) and (max-width: 1200px) {
    .LifeCycle-container {
        top: 460px;
        flex-direction: row;
        justify-content: space-between;
        padding: 0px 80px;
    }

    .icon-container {
        width: 70px;
        height: 70px;
    }

    .icon-container svg {
        font-size: 40px;
    }

    .hr,
    .hr1,
    .hr2 {
        display: none;
    }

    .dots-sml,
    .dots-sml1,
    .dots-sml2 {
        display: none;
    }
}

@media (min-width: 1200px) {
    .LifeCycle-container {
        flex-direction: row;
        justify-content: space-between;
    }
}